body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    margin-top: 100px;
}

h1 {
    color: #c02828;
}

.g_id_signin {
    margin-top: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}