body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    /* margin-top: 100px; */
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6a8e2;
}

h1 {
    color: #333;
}

.g_id_signin {
    margin-top: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}